
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <text href="~/Views/Home/StyleSheet1.css" rel="stylesheet" />
</head>
<body style="">
    <a href="#">Version 1</a>
    <div>
        <p style="color:#FF0000" ;>Red paragraph text</p> <p style="color:#FF0000";>Red paragraph text</p>
    </div>
</body>
</html>
