
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body style="">
    <a href="#">Version 1</a>
    <div>
        <p style="color:#FF0000" ;>Red paragraph text v1</p> <p style="color:#FF0000" ;>Red paragraph text</p>
    </div>
    <div>
        <p style="color:#FF0000" ;>Red paragraph text v2</p> <p style="color:#FF0000" ;>Red paragraph text</p>
    </div>
    <div>
        <p style="color:#FF0000" ;>Red paragraph text v3</p> <p style="color:#FF0000" ;>Red paragraph text</p>
    </div>
    <div>
        <p style="color:#FF0000" ;>Red paragraph text v4 Rama testing</p> <p style="color:#FF0000" ;>Red paragraph text</p>

        <p style="color:#FF0000" ;>Red paragraph text v5 Rama testing</p> <p style="color:#FF0000" ;>Red paragraph text</p>
    </div>
</body>
</html>
