
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Views/Home/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <a href="#">HOLA MUNDO</a>
    <div>
        
        Mi Primer Programa Web
        version 2
    </div>
</body>
</html>
